*{
    margin: 0;
    padding: 0;
}

ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(23, 156, 197);
    background-image: url('/projetos-textes/img/ceuone.png');
    background-size: 100% 80%;
    top: 0;
    left: 0;
    position: relative;
    
}


header.principal{
    width: 100%;
    text-align: center;
    padding: 0;
    position: fixed;

}

li{
    display: inline-block;
}

li a {
    display: block;
    padding: 20px;
    color: rgb(0, 0,0, 0.5);
    text-align: center;
    text-decoration: none;
}
.mapa{
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    background-image: url(/projetos-textes/img/mapa);
    background-size: 100% 100%;
    border-radius: 80px;
    transition: 1s;

}
.mapa:hover{
    cursor: pointer;
    transform: scale(1.30);
    transition: 1s;
}

.contato{
    margin-left: 250px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    background-image: url(/projetos-textes/img/dendemusi.jfif);
    background-size: 100% 100%;
    border-radius: 30px;
    transition: 1s;
}
.contato:hover{
    cursor: pointer;
    transform: scale(1.30);
}
.sobre{
    margin-left: 480px;
    margin-right: 30px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-image: url(/projetos-textes/img/sobre.jfif);
    background-size: 100% 100%;
    transition: 1s;
}

.sobre:hover{
    cursor: pointer;
    transform: scale(1.30);
  }

.logo{
    background: url('/projetos-textes/img/one\ piece\ logo.png');
    background-size: 100% 100%;
    margin-left: 30px;
    transition: 2000ms all;
    transform-origin: center left;
}
 .logo:hover{
    cursor: pointer;
    transform: scale(1.35);
 }

 .home{
    background-image: url('/projetos-textes/img/Going_Merry.webp');
    background-size: 100% 100%;
    margin-left: 50px;
    transition: 2000ms all;
    transform-origin: center left;
 }

 .home:hover{
    cursor: pointer;
    transform: scale(1.30);
  }  
    /* fim da primeria seçao do cabeçalho de navegaçao */

main{
    padding: 90px;
    margin-left: -12px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(#11b4e6,#4714d4,#08000a);
}

h2{
    background-color: #08000a;
    padding: 10px;
    margin-left: -110px;
    margin-top: -11px;
    text-decoration: dotted;
    color: aliceblue;
}
.card{

}
img{
    width: 100%;
    
} /* luffy */
.luffy{
    margin-top: 90px;
    margin-left: 40px;
    width: 12vw;
    position: relative;

}

.title{
    inset: 0;
    position: absolute;
    border-radius: 100px;
}

.cartaz img{
    width: 100%;
    aspect-ratio: 8/16;
    object-fit: cover;
    border-radius: 40px;
}

.luffy:hover .cartaz{
    transform: perspective(900px) translateY(-2%) rotateX(20deg) translateZ(1px);
    box-shadow: 0px 35px 32px 0px rgba(240, 3, 3, 0.75);
    border-radius: 100px;
    filter: blur(1px);
}

.title{
    transform: translate3d(0%,70%, 0);
}

.luffy:hover .title{
  transform: translate3d(0%,30%, 0);
}

.cartaz, .title{
    transition: all 0.5s;
}
/*zoro */
.cartaz1{
    margin-top: -330px;
    margin-left: 250px;
    width: 12vw;
    position: relative;
}
.titulo{
    inset: 0;
    position: absolute;
    border-radius: 100px;
}

.zoro img{
    width: 100%;
    aspect-ratio: 8/16;
    object-fit: cover;
    border-radius: 40px;
}

.cartaz1:hover .zoro{
    transform: perspective(900px) translateY(-2%) rotateX(20deg) translateZ(1px);
    box-shadow: 0px 35px 32px 0px rgba(3, 240, 34, 0.75);
    border-radius: 150px;
    filter: blur(1px);
}

.titulo{
    transform: translate3d(0%,70%, 0);
}

.cartaz1:hover .titulo{
  transform: translate3d(0%,30%, 0);
}

.zoro, .titulo{
    transition: all 0.5s;
}
/* sanji*/
.cartaz2{
    margin-top: -330px;
    margin-left: 450px;
    width: 12vw;
    position: relative;
}
.titulo1{
    inset: 0;
    position: absolute;
    border-radius: 100px;
}

.sanji img{
    width: 100%;
    aspect-ratio: 8/16;
    object-fit: cover;
    border-radius: 40px;
}

.cartaz2:hover .sanji{
    transform: perspective(900px) translateY(-2%) rotateX(20deg) translateZ(1px);
    box-shadow: 0px 35px 32px 0px rgba(216, 240, 3, 0.993);
    border-radius: 150px;
    filter: blur(1px);
}

.titulo1{
    transform: translate3d(0%,70%, 0);
}

.cartaz2:hover .titulo1{
  transform: translate3d(0%,30%, 0);
}

.sanji, .titulo1{
    transition: all 0.5s;
}
/*nami*/
.cartaz3{
    margin-top: -330px;
    margin-left: 650px;
    width: 12vw;
    position: relative;
}
.titulo2{
    inset: 0;
    position: absolute;
    border-radius: 100px;
}

.nami img{
    width: 100%;
    aspect-ratio: 8/16;
    object-fit: cover;
    border-radius: 40px;
}

.cartaz3:hover .nami{
    transform: perspective(900px) translateY(-2%) rotateX(20deg) translateZ(1px);
    box-shadow: 0px 35px 32px 0px rgb(240, 58, 3);
    border-radius: 150px;
    filter: blur(1px);
}

.titulo2{
    transform: translate3d(0%,70%, 0);
}

.cartaz3:hover .titulo2{
  transform: translate3d(0%,30%, 0);
}

.nami, .titulo2{
    transition: all 0.5s;
}
/*usopp */

.cartaz4{
    margin-top: -330px;
    margin-left: 850px;
    width: 12vw;
    position: relative;
}
.titulo3{
    inset: 0;
    position: absolute;
    border-radius: 100px;
}

.usopp img{
    width: 100%;
    aspect-ratio: 8/16;
    object-fit: cover;
    border-radius: 40px;
}

.cartaz4:hover .usopp{
    transform: perspective(900px) translateY(-2%) rotateX(20deg) translateZ(1px);
    box-shadow: 0px 35px 32px 0px rgb(3, 240, 200);
    border-radius: 150px;
    filter: blur(1px);
}

.titulo3{
    transform: translate3d(0%,70%, 0);
}

.cartaz4:hover .titulo3{
  transform: translate3d(0%,30%, 0);
}

.usopp, .titulo3{
    transition: all 0.5s;
}

/* chooper*/
.cartaz5{
    margin-top: -330px;
    margin-left: 1050px;
    width: 12vw;
    position: relative;
}
.titulo4{
    inset: 0;
    position: absolute;
    border-radius: 100px;
}

.chooper img{
    width: 100%;
    aspect-ratio: 8/16;
    object-fit: cover;
    border-radius: 40px;
}

.cartaz5:hover .chooper{
    transform: perspective(900px) translateY(-2%) rotateX(20deg) translateZ(1px);
    box-shadow: 0px 35px 32px 0px rgb(11, 1, 56);
    border-radius: 150px;
    filter: blur(1px);
}

.titulo4{
    transform: translate3d(0%,70%, 0);
}

.cartaz5:hover .titulo4{
  transform: translate3d(0%,30%, 0);
}

.chooper, .titulo4{
    transition: all 0.5s;
}
/* robin */
.cartaz6{
    margin-top: 80px;
    margin-left: 40px;
    width: 12vw;
    position: relative;
}
.titulo5{
    inset: 0;
    position: absolute;
    border-radius: 100px;
}

.robin img{
    width: 100%;
    aspect-ratio: 8/16;
    object-fit: cover;
    border-radius: 40px;
}

.cartaz6:hover .robin{
    transform: perspective(900px) translateY(-2%) rotateX(20deg) translateZ(1px);
    box-shadow: 0px 35px 32px 0px rgb(240, 3, 102);
    border-radius: 150px;
    filter: blur(1px);
}

.titulo5{
    transform: translate3d(0%,70%, 0);
}

.cartaz6:hover .titulo5{
  transform: translate3d(0%,30%, 0);
}

.robin, .titulo5{
    transition: all 0.5s;
}
/* franky */
.cartaz7{
    margin-top: -340px;
    margin-left: 250px;
    width: 12vw;
    position: relative;
}
.titulo6{
    inset: 0;
    position: absolute;
    border-radius: 100px;
}

.franky img{
    width: 100%;
    aspect-ratio: 8/16;
    object-fit: cover;
    border-radius: 40px;
}

.cartaz7:hover .franky{
    transform: perspective(900px) translateY(-2%) rotateX(20deg) translateZ(1px);
    box-shadow: 0px 35px 32px 0px rgb(3, 173, 240);
    border-radius: 150px;
    filter: blur(1px);
}

.titulo6{
    transform: translate3d(0%,70%, 0);
}

.cartaz7:hover .titulo6{
  transform: translate3d(0%,30%, 0);
}

.franky, .titulo6{
    transition: all 0.5s;
}
/*brooke */
.cartaz8{
    margin-top: -330px;
    margin-left: 450px;
    width: 12vw;
    position: relative;
}
.titulo7{
    inset: 0;
    position: absolute;
    border-radius: 100px;
}

.brooke img{
    width: 100%;
    aspect-ratio: 8/16;
    object-fit: cover;
    border-radius: 40px;
}

.cartaz8:hover .brooke{
    transform: perspective(900px) translateY(-2%) rotateX(20deg) translateZ(1px);
    box-shadow: 0px 35px 32px 0px rgb(236, 235, 240);
    border-radius: 150px;
    filter: blur(1px);
}

.titulo7{
    transform: translate3d(0%,70%, 0);
}

.cartaz8:hover .titulo7{
  transform: translate3d(0%,30%, 0);
}

.brooke, .titulo7{
    transition: all 0.5s;
}